
.reg_btn a{
    display: inline-block; 
    right: 0.5%;
    z-index: -1;
    text-align: center;
    width:120px;
    padding: 1em 0;
    text-decoration: none;
    background-color: darkslategrey;
    font-weight: bold;
    color: white; 
}

#nav_menu ul {
    list-style-type: none;
    position:relative;
    border-bottom: 1em black;
}

#reg_menu{
    list-style-type: none;
    position:relative;
    float:right;
}

#nav_menu ul li {
    display: inline;
    padding: 0 1em; 
    float: left;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li{
    float: none;
}

#nav_menu ul li:hover > ul {
    display:inline;
}

#nav_menu > ul::after{
    content: "";
    display: block;
    clear: both;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width:175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: darkslategray;
    font-weight: bold;
    color: white; 
}

#nav_menu ul li a.lastitem { 
    border-right: none;
}

#nav_menu ul li a.current { 
    text-decoration: none; 
    color:yellow;
}


label{
    display:inline-block;
}
body{
    background-color: #778899;
}

.heading {
    text-align: center;
}

.heading_desc{
    align-self: auto;
    margin:auto;
    text-align: center;
    word-wrap: break-word;
    width: 50%;
}
form  { 
    margin: 0px auto; display: table;      }
label { display: table-cell; }
input { display: table-cell; }

#space_list{
   
    text-align: center;    
    width: 75%;
    margin: 0 auto;
}

.space{
    border: 3px solid black;

}

.space-block {
    border: 1px solid black;
}
.space-block h2 {
    color:blue;
}
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 9%;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
 .container {
    position: relative;
    display: none;
    width: 50%;
  }
  
  .container img{
    max-width: 450px;
    max-height: 490px;
  }
  /* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  

  .space-details{
    border: solid 1px red;
    position: relative;
    display: inline-block;
    width: 45%;
    height:inherit;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .choose-timeslot {
    float:right;
    margin-top: 10px;
  }

  

  